.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content:center space-between;
  align-items: center;

  padding: 15px 40px;
  background-color: #111;
  color: white;

  z-index: 1000;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial sans-serif;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.links a:hover {
  color: #00bcd4;
}

.navbar {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}